@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

/* ###### Utility Classes ######### */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn{
    padding: 1.5rem 4.5rem;
    border-radius: 3rem;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1.3rem;
}

.btn_hollow{
    border: 0.2rem solid white;
}

.btn_primary{
    background-color: rgb(49, 172, 220);
    color: white;
    
}

.btn_pink{
    background-color: #f023b6;
    color: white;
}

.alt_pink{
    color: #f023b6;
}


/* ################ home ############# */

nav{
    padding: 3.9rem 0;
}

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav_container .logo img{
    max-width: 150px;
}

.nav_container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_container ul li{
    margin: 0 1.5rem;
    list-style: none;  
    
}

.nav_container ul li a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.nav_container ul li i{
    font-size: 1.9rem;
    cursor: pointer;
}

#home{
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to right, #3264f5 2%,#7004bc 82%);
}


.main_section{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 6rem 5rem;
    width: 60%;
    margin: auto;
}

.img_container{
    width: 50%;
}

.img_container img{
    height: 425px;
    animation: animate 1.8s infinite ease-in-out;
}

@keyframes animate{
    50%{
        transform: translateX(-3px);
    }
    100%{
        transform:translateX(3px)
    }
}

.text_container{
    width: 50%;
}

.text_container h1{
    font-size: 5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.alt_color{
    color: #03a9f5;
}

.text_container p{
    margin: 2.5rem 0;
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 23px;
    letter-spacing: 0;
}

.scroll_down{
    position: absolute;
    bottom:2%;
    left: 50%;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
}

.scroll_down i{
    font-size: 1rem;
}

/* ################### About section ################## */

#about{
    background-color: rgb(249, 249, 249);
}

.about_container{
    padding: 8rem 2.5rem;
}

.about_first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about_text{
    width: 50%;
    transform: translateX(-150%);
    animation:moving_left 1s ease-in-out forwards;
}

@keyframes moving_left {    
    100%{
      transform: translateX(0%);
    }
  }

.about_text h2{
    color: grey;
    font-size: 18px;
    font-weight: 400;
}

.about_text_container h1{
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 500;
    color: rgb(71, 66, 66);
    margin-top: 1rem;
}

.about_text_container p{
    margin: 2.5rem 0;
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-weight: 300;
}

.about_img{
    width: 50%;
    transform: translateX(150%);
    animation:moving_right 1s ease-in-out forwards;
}

@keyframes moving_right {    
    100%{
      transform: translateX(0%);
    }
  }


.about_img img{
    max-height: 400px;
    margin: auto;
    object-fit: cover;



    max-width: 100%;
}

.about_second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 0;
    
}

.process_wrap{
    display: block;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    margin: 1.5rem 0;
    border-radius: 50%;
}

.icon_wrap i{
    color: white;
}

.first{
    background-color:#007aff;
}

.second{
    background-color: #41526b;
}
.third{
    background-color: #9556f5;
}
.fourth{
    background-color: #f021b6;
}

.icon_wrap i{
    font-size: 30px;
}

.process_wrap h4{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    color: rgb(83, 81, 81);
}

/* ########### about second ######### */

.about_second_part{
    padding: 8rem 0;
    min-height: 80vh;
    background:linear-gradient(to right, #237afe 2%, #03a9f5 82%);
}

.about_second_part_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_second_img{
    width: 50%;
    transform: translateX(-150%);
    animation:moving_left 1s ease-in-out forwards;
}


.about_second_img img{
    max-height: 35rem;
}

.about_second_text{
    width: 50%;
    color: white;
    transform: translateX(150%);
    animation:moving_right 1s ease-in-out forwards;
}

.about_second_text h1,.about_second_text h3{
    color: white;
}

.data_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.data_box i{
    font-size: 40px;
}

/* ########### About third ########### */

.about_third{
    padding: 5rem 0;
}

.about_third_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_third_text{
    width: 40vw;
}

.about_third_text h2{
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    color: grey;
}

.about_text_container_third{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about_text_container_third h1{
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 500;
    color: rgb(71, 66, 66);
    margin-top: 1rem;
    text-align: center;
}

.about_text_container_third p{    
    margin: 2.5rem 0;
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-weight: 300;
    text-align: center;
}
    
.directors{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem 4rem;
    
}

.director{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 0;

}

.director img{
    max-height: 250px;
}

.director h1{
    font-size: 2.7rem;
    font-weight: 300;
    padding: 1.8rem 0 0 0;
    color: rgb(76, 71, 71);
}

.director h3{
    font-size: 1.7rem;
    font-weight: 300;
    padding: 1.5rem 0;
    color: rgb(76, 71, 71);
}

.director i{
    font-size: 1.6rem;
    font-weight: 300;
    color: rgb(76, 71, 71);
    margin: 0 1.5rem;
}

/* ##################### Clients ############### */

.clients{   
    padding: 5rem 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #3264f5 2%,#7004bc 82%);
    color: white;
}

.clients h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif
}

.clients_container{
    width: 50vw;   
}

.clients_container p{
    text-align: center;
    text-justify: auto;
    margin: 3rem 0;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2px;
    font-style: italic;
}

.clients_container h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    color: rgb(230, 126, 143);
}
.clients_container h4{
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0;    
    font-weight: 300;
}

.stars{
    text-align: center;
    font-size: 1.5rem;
    color: goldenrod;
}


/* ######### Our blog ########## */

#blog{
    background-color: rgb(247, 247, 247);
}

.our_blog{
    padding: 5rem 0;
}

.our_blog_container{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;   
}

.our_blog_text{
margin: 6rem 0;
}

.our_blog_text h3{
    font-size: 1.8rem;
    font-weight: 400;
    color: grey;
    text-align: center;
    margin-bottom: 3rem;
}

.our_blog_text h1{
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 500;
    color: rgb(71, 66, 66);
    margin-top: 1rem;
    text-align: center;
}

.our_blog_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75vw;
}

.card{
    max-width: 351px;
    border-radius: 18px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    margin: auto;
}

.card:hover{
    box-shadow: 1px 1px 10px 1px rgb(187, 181, 181);
    transform: translateY(-4px);
}

.card_text{
    padding: 2.5rem;
}

.card_img img{
    width: 100%;
    height: 234px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;

}

.card_text h3,h1{
    margin: 1.5rem 0;
}

.card_text h3{
    font-size: 1.7rem;
    font-weight: 400;
    color: rgb(227, 86, 110);
}

.card_text h1{
    font-size: 2.2rem;
    font-weight: 400;
    color: rgb(59, 51, 51);
}

.card p{
    line-height: 2rem;
    font-size: 1.5rem;
}

.author{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.author h2{
    margin: 0 1.5rem;
    font-weight: 400;
}

.author_img{
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.author_img img{
    max-width: 50px;
    background-color: #4785e3;
    border-radius: 50%;
}



/* ############# Contact ############## */

.contact{
    padding: 5rem 0;
}

.contact_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.form_container{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 4rem;
    transform: translateX(-150%);
    animation:moving_left 1s ease-in-out forwards;
}

.form_container h1{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #404854;
    margin-bottom: 3.2rem;
}



.fields{
    display: flex;
    flex-wrap: wrap;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
}

.input{
    border-radius: 0.5rem;
    margin-bottom: 2.2rem;
}

.input input{
    padding: 1.2rem;
    width: 100%;
    font-weight: 500;
    border: 1px solid #d4d4d4;
    color: #495057;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.4rem;
}


.textarea{
    width: 57%;
    padding-left: 1.2rem;
    padding-bottom: 3.6rem;
}

textarea{
    resize: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2.2rem;
    width: 100%;
    height: 100%;
    color: #495057;
    border: 1px solid #d4d4d4;
    font-weight: 500;
    outline: none;
    font-size: 1.4rem;

}


.button{
    width: 100%;
}


.button button{
    width: 100%;
    padding: 1.2rem 3rem;
    background-color: #7004bc;
    color: white;
    border: none;
    outline: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 2rem 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    font-weight: 600;
}

.button button:hover{
    background-color: rgb(49, 172, 220)
}



.location_container{
    width: 40%;
    padding: 4rem;
    transform: translateX(150%);
    animation:moving_right 1s ease-in-out forwards;
}
.location_container h1{
    font-size: 4rem;
    font-weight: 500;
    color: #404854;
    margin-bottom: 1.6rem;

}

.location_container p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgb(63, 57, 57);

}

.address h3 i{
    font-size: 3rem;
    color: #7004bc;
    margin-right: 1.5rem;
}

.address h3{
    font-size: 1.6rem;
    margin: 3.5rem 0;
    font-weight: 300;
    color: #696969;
    font-family: 'Roboto', sans-serif;
    line-height: 15px;
    letter-spacing: 0.2px;   

}

.email{
    color: #3fa1ce;
}


/* ################## footer ############### */

footer{
    background-color: whitesmoke;
}

.footer_container{
    padding: 7rem 5rem 5rem 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50%;
    margin-right: 1.5rem;
    color: rgb(158, 153, 153);
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
}

.social_icon:hover{
    background-color: #007aff;
    color: white;
}

.social_icon i{
    font-size: 1.8rem;
    
}


.copyright{
display: flex;
justify-content: center;
align-items: center;
}

.copyright h2{
font-family: 'Roboto', sans-serif;
color: #696969;
font-weight: 300;
line-height: 30px;
letter-spacing: 0.2px;
font-size: 1.4rem;
}